/* This is where styles are defined for your page. */
/* One style is provided as example. */

body {
	background-image: url('images/hiking-the-sand-dunes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: serif;
}
h1, h2 {
	font-family: monospace;
}
header {
	border-style: solid;
	padding: 2em;
	border-color: #799AB5;
    border-width: 2em;
	border-radius:25px;
}
.page-header h1 {
	margin-bottom: 0;
	margin-top: 1px;
	font-size: 5em;
}
.page-header p {
	margin-top: 0;
}
.page-header small {
	font-size: medium;
}
aside.more-info {
	padding-left: 2em;
}
aside.more-info img {
	width: 150px;
	height: auto;
	position: absolute;
	left: 2em;
}
aside.more-info p {
	padding-left: 150px;
}
ul.info-links {
    float: left;
	margin-left:150px;
}
/* ul.info-links li {
	display: inline;
	margin-right:2em;
} */
ul.social-links {
	float: left;
}
/* ul.social-links li {
	display: inline;
	margin-right:2em;
} */
section#content {
	margin-top: 200px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
.poem {
	list-style-type: none;
}
.poem li {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.8;
}
ul.poem li:first-child::first-letter {
	font-size: 2em;
	font-weight:bold;
}
footer {
	color: #DACFB4;
	padding-left: 1.5em;
}
footer p {
	font-weight: bold;
}
footer.page-footer {
	background-color: rgba(0,0,0,0.3);
	padding-left: 2em;
}
footer li {
	list-style-type: none;
}
footer ul {
	margin-top: 0;
}
p.citation {
	margin-bottom:0;
}
footer a:link {
	color:#DA9EB6;
}
footer a:visited {
	color: #AD93C3;
}
footer li {
	display: inline;
	margin-right:2em;
}
